* {
    box-sizing: border-box;
    margin: 0;

}

main {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

main > section {
    display: grid;
    grid-template-columns: 280px, 93px;
    grid-template-rows: 50px, 1fr, 50px;
}

.dev-skills, .skill-list {
    grid-column: span 2;
    margin: 5px;
}

.dev-skills {
    background-color: #a3c481;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    width: 373px;
    margin-bottom: 10px;
}

.skill-list {
    color: #e89c23;
}

.input-field, .add-skill-btn {
    border: solid;
    border-width: 4px;
    border-color: #a3c481;
    grid-row-start: 4;
}

.input-field {
    margin-right: 4px;
}


.add-skill-btn {
    background-color: white;
    color: #a3c481;
    font-weight: bold;
    margin-left: 4px;
}

div.entry {
    margin: 10px;
}

.delete-entry-btn {
    height: 25px;
    width: 30px;
    background-color: #c76666;
    color: white;
    font-weight: bold;
    border-style: none;
    margin-right: 8px;
}

.entry {
    display: flex;
}

h4 {
    color:#e89c23;
}

button {
    
}